.carousel-control-next, 
.carousel-control-prev{
    width: 8%;
}
.carousel-control-next-icon, 
.carousel-control-prev-icon{
    background-color: #00000038;
}
.custom-bg{
    background-color: #E76F511A;
}
.news-box-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.clients-boxShadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}